style.css
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

header h2 {
    font-family: 'Montserrat', sans-serif;
    color: #2ecc71;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

/* HERO */
.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('https://images.unsplash.com/photo-1588776814546-1ffcf47267a5');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 42px;
    font-family: 'Montserrat', sans-serif;
}

.btn {
    margin-top: 15px;
    padding: 12px 25px;
    background: #2ecc71;
    color: white;
    border-radius: 30px;
    text-decoration: none;
}

/* FEATURES */
.features {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    background: #f9f9f9;
}

.feature {
    text-align: center;
}

.feature i {
    font-size: 30px;
    color: #2ecc71;
}

/* SECTION */
.section {
    padding: 60px 20px;
    text-align: center;
}

.light {
    background: #f4f4f4;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 25px;
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

/* FOOTER */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}

/* WHATSAPP */
.whatsapp {
    background: #25D366;
}
.qr-section {
    text-align: center;
    margin-top: 40px;
}

.qr-box img {
    width: 280px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.links {
    margin-top: 20px;
}

.links a {
    margin: 10px;
    display: inline-block;
}
